In [50]:
import numpy as np  # to access data in any formats.
import pandas as pd  # to work with data frame formats.

In [51]:
train_data = pd.read_csv('result_1.csv')
test_data = pd.read_csv('epir_test.csv')

In [52]:
test_data.head()

   id                                           question
0   1  Алғашқы медициналық-санитариялық көмек көрсете...
1   2  How can I make an online reservation for servi...
2   3                               Online services Egov
3   4                          Telegram bot Egov servces
4   5  Where can I find the latest updates and inform...

In [53]:
train_data = train_data.dropna(subset=['text'])

In [54]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
import pandas as pd

# Создание TF-IDF векторизатора
tfidf_vectorizer = TfidfVectorizer(max_features=100000)
tfidf_matrix = tfidf_vectorizer.fit_transform(train_data["text"])

# Функция для получения ответа на вопрос:
def get_answer(question):
    question_vector = tfidf_vectorizer.transform([question])
    cosine_similarities = linear_kernel(question_vector, tfidf_matrix)
    most_similar_index = cosine_similarities.argmax()
    corresponding_unnamed = train_data.iloc[most_similar_index]["Unnamed: 0"]
    return corresponding_unnamed

# Проход по вопросам в тестовом наборе и получение соответствующего "Unnamed: 0"
corresponding_unnamed_list = []
for question in test_data["question"]:
    corresponding_unnamed = get_answer(question)
    corresponding_unnamed_list.append(corresponding_unnamed)

# Добавление "Unnamed: 0" к тестовому набору данных
test_data["index"] = corresponding_unnamed_list

# Сохранение результата в файл
test_data.to_csv("test_dataset_with_unnamed.csv", index=False)

In [55]:

# Предположим, tfidf_matrix - это ваша TF-IDF матрица

# Создайте DataFrame из TF-IDF матрицы
pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf_vectorizer.get_feature_names_out())

MemoryError: Unable to allocate 154. GiB for an array with shape (207245, 100000) and data type float64

In [49]:
len(tfidf_vectorizer.get_feature_names_out())

1656688

In [56]:
test_data_1=test_data[['id','index']]

In [57]:
test_data_1

      id   index
0      1  138564
1      2   32076
2      3   55843
3      4  156093
4      5   81751
..   ...     ...
119  120  204849
120  121  204852
121  122  206110
122  123  204849
123  124  204849

[124 rows x 2 columns]

In [60]:
test_data_1.to_csv("test_data_3.csv", index=False)